/* Global - CSS
-----------------------------------------------------*/

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'banner banner banner banner banner banner'
    'menu About About About About About'
    'menu Port0 Port0 Port0 Port0 Port0'
	  'menu Port0 Port0 Port0 Port0 Port0'
    'menu Port1 Port1 Port1 Port2 Port2'
    'menu Port3 Port3 Port3 Port4 Port4'
    'menu footer footer footer footer footer';
  gap: 0.625em;
  padding: 0.625em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.grid-container > section {
  text-align: center;
  padding: 1.25em 0;
  font-size: 1.875em;
  gap: 1%;
}

.grid-container > footer {
  text-align: center;
  padding: 1.25em 0;
  font-size: 1em;
  gap: 1%;
}

.grid-container > div {
  text-align: center;
  /*  padding: 20px 0;   */
  font-size: 1em;
  text-align: justify;
  margin: 1.25%;
}

img {
  max-width: 100%;
  height: auto;
}



/* Header
-----------------------------------------------------*/
.header { 
  grid-area: header; 

}

/* Banner
-----------------------------------------------------*/

.banner { 
  grid-area: banner; 
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
}

/* About
-----------------------------------------------------*/
.about { 
  grid-area: About; 
}

.about p {
  font-size: 1em;
}

/* Aside
-----------------------------------------------------*/

.menu-aside { 
  grid-area: menu; 
}


/* Portfolio sections
-----------------------------------------------------*/
.portfolio-0 { 
  grid-area: Port0;
  width: 100%;
  height: 25em;
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
}

.portfolio-1 { 
  grid-area: Port1;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
}

.portfolio-2 { 
  grid-area: Port2;
  animation-play-state: paused;
  background-image: url("../images/02-portfolio-3.gif");
  background-size: cover;
}

.portfolio-3 { 
  grid-area: Port3;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
}

.portfolio-4 { 
  grid-area: Port4; 
  animation-play-state: paused;
  background-image: url("../images/02-run-buddy.gif");
  background-size: cover;
}



/* Footer
-----------------------------------------------------*/

.footer { 
  grid-area: footer;
  word-spacing: 0.3125em;
  text-align: center
}
